<div class="team-2">
<div class="container">

  <!-- Start row -->
  <div class="row">
    <div class="col-md-8 mx-auto text-center mb-5">
      <br><br>
      <h3 class="display-3">Current developers</h3>
      <!-- <h4 class="lead">Actively continuing on the development of PROTEUS</h4> -->
    </div>
  </div>

  <!-- Start row -->
  <div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://www.formingworlds.space/team/tim-lichtenberg">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/TimLichtenberg.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Tim Lichtenberg</h4>
          <p class="lead">Kapteyn Staff</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Project architecture</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Planetary geoscience</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Origin of life</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://www.h-nicholls.space/">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/HarrisonNicholls.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Harrison Nicholls</h4>
          <p class="lead">Cambridge Postdoc</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Planetary climates</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Gas-phase chemistry</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Numerical methods</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://planetmariana.github.io/">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/MarianaSastre.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Mariana Sastre</h4>
          <p class="lead">Kapteyn PhD Student</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Exoplanet interior evolution</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Mantle dynamics</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Volatile partitioning</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <!-- Start row -->
  <div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://www.formingworlds.space/team/emma-postolec">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/EmmaPostolec.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Emma Postolec</h4>
          <p class="lead">Kapteyn PhD Student</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Atmospheric escape</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Volatile fractionation</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">JWST Observations</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="javascript:;">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/MarijnVanDijk.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Marijn van Dijk</h4>
          <p class="lead">Kapteyn Research Assistant</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Tidal heating</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Orbital evolution</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Satellites & moons</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="javascript:;">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/KarenStuitje.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Karen Stuitje</h4>
          <p class="lead">Kapteyn Research Assistant</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Stellar evolution</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Software testing</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Documentation</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <!-- Start row -->
  <div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://rdc49.github.io/">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/RobbCalder.jpg' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Robb Calder</h4>
          <p class="lead">Cambridge PhD Student</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Mantle dynamics</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Atmospheric chemistry</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Sub-Neptune evolution</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://github.com/flaviacris03">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/FlaviaPascal.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Flavia Pascal</h4>
          <p class="lead">Cambridge MSc Student</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Planet structure</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Equations of state</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Numerical methods</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://github.com/flaviacris03">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/BenRiegler.jpg' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Ben Riegler</h4>
          <p class="lead">Helmholtz AI PhD Student</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Bayesian inference</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Meta-learning algorithms</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Statistical methods</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- Start row -->
  <div class="row">
    
    
    

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://github.com/lorlo9999/">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/LorenzoCesario.jpg' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Lorenzo Cesario</h4>
          <p class="lead">Kapteyn MSc Student</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Telescope simulation</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Radiative transfer</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Retrieval methods</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://github.com/Emeline0110">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/EmelineDecocq.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Emeline Decocq</h4>
          <p class="lead">Kapteyn PhD Student</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Hadean Earth</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Prebiotic chemistry</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Ocean formation</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://github.com/IKisvardai">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/ImreKisvárdai.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Imre Kisvárdai</h4>
          <p class="lead">Kapteyn PhD Student</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Sub-Neptune evolution</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Volatile outgassing</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Planetary geophysics</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <!-- End row -->
  </div>

  
  <!-- Start row -->
  <div class="row">
    <div class="col-md-8 mx-auto text-center mb-5">
      <br><br>
      <h3 class="display-3">Past contributors</h3>
      <!-- <h4 class="lead">Previously contributed to PROTEUS but no longer involved.</h4> -->
    </div>
  </div>

  <!-- Start row -->
  <div class="row">

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://eaps.ethz.ch/en/people/profile.daniel-bower.html">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/DanBower.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Dan Bower</h4>
          <p class="lead">ETH Zurich Staff</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Mantle evolution</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Thermodynamics & EOS</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Volatile partitioning</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://www.esciencecenter.nl/team/hanno-spreeuw/">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/HannoSpreeuw.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Hanno Spreeuw</h4>
          <p class="lead">Research Software Engineer</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Code testing</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">User experience</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Lookup tables</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://orcid.org/0000-0002-5422-8794">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/LaurentSoucasse.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Laurent Soucasse</h4>
          <p class="lead">Research Software Engineer</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Mantle dynamics</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Stellar evolution</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Code testing</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  
  <!-- End row   -->
  </div>

  <!-- Start row -->
  <div class="row">

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://www.stefsmeets.nl/">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/StefSmeets.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Stef Smeets</h4>
          <p class="lead">Research Software Engineer</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Code tests</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">User experience</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Documentation</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> 

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://mark-hammond.github.io/about/">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/MarkHammond.jpg' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Mark Hammond</h4>
          <p class="lead">Oxford Research Fellow</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Radiative transfer</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Atmosphere dynamics</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Surface reflectivity</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://users.physics.ox.ac.uk/~pierrehumbert/">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/RayPierrehumbert.jpg' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Ray Pierrehumbert</h4>
          <p class="lead">MIT Staff</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Planetary climates</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-planet"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Atmospheric dynamics</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Thermodynamics</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
  </div>

  

</div>
</div>